<%- include('header') -%>

<h1>Viðburða umsjón</h1>

<%- include('events') -%>

<div class="event__registration">
  <h2 class="event__subtitle">Nýr viðburður</h2>
  <form method="post" action="/admin/" enctype="application/x-www-form-urlencoded" class="">
    <div class="field field--input<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
      <label for="name">Nafn*:</label>
      <input type="text" name="name" id="name" value="<%= data.name %>">
    </div>

    <div class="field field--textarea<%= locals.isInvalid('description', errors) ?  ' field--invalid' : '' %>">
      <label for="description">Lýsing:</label>
      <textarea name="description" id="description"><%= data.description %></textarea>
    </div>

    <% if (errors.length > 0) { %>
      <h3 class="errors__title">Villur við skráningu:</h3>
      <ul class="errors">
        <% errors.forEach((error) => { %>
          <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
        <% }); %>
      </ul>
    <% } %>

    <button class="button">Skrá viðburð</button>
  </form>
</div>

<div class="user">
  <p class="user__loggedin">Innskráður sem: <strong><%= username %></strong></p>
  <p class="user__logout"><a href="/admin/logout">Útskrá</a></p>
</div>

<%- include('footer') -%>
